<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Apartment</title>
</head>
<body>
<h1>Add Apartment</h1>
<form th:action="@{/apartments/add}" th:object="${apartment}" method="post">
    <label>Address:
        <input type="text" th:field="*{address}" required />
    </label><br/>
    <label>Price:
        <input type="number" th:field="*{price}" step="0.01" min="0" required />
    </label><br/>
    <label>Number of Rooms:
        <input type="number" th:field="*{params.rooms}" min="1" required />
    </label><br/>
    <label>Area (sq.m.):
        <input type="number" th:field="*{params.area}" step="0.1" min="0" required />
    </label><br/>
    <label>
        <input type="checkbox" th:field="*{params.hasBalcony}" /> Balcony
    </label><br/>
    <label>
        <input type="checkbox" th:field="*{params.furnished}" /> Furnished
    </label><br/>
    <label>Description:
        <textarea th:field="*{description}"></textarea>
    </label><br/>
    <button type="submit">Add</button>
</form>
<a th:href="@{/apartments}">Back to Apartment List</a>
</body>
</html>
